/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globals */
body {
  background-color: #181818;
  font-family: 'Lato', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
  color: #f5f5f5;
  padding: 0 5px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__action-btn {
  color: #f5f5f5;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-left {
  display: flex;
  column-gap: 10px;
}

.secure-connection {
  color: #5fd367;
}

.secure-connection,
.recording-bar,
.view-settings {
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #121313;
}

.recording-bar {
  display: flex;
  column-gap: 12px;
}

.recording-bar__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 18px;
  width: 18px;
  background-color: #cdcdcd;
  border-radius: 50%;
}

.recording-bar__icon-circle {
  height: 5px;
  width: 5px;
  background-color: #f15545;
  border-radius: 50%;
}

.recording-bar__text {
  margin-right: 10px;
}

.view-settings .header__action-btn {
  font-size: 15px;
}

/* Main */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-grid {
  height: calc(100% - 120px);
  width: calc(100vw - 60px);
  margin: 60px 30px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.cell {
  width: calc(100% / 6 - 5px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.cell__img {
  height: 0;
  padding-top: 56.25%;
  background-image: url('https://picsum.photos/1920/1080');
  background-position: center;
  background-size: cover;
}

.cell__img-bonus {
  background-image: url('https://picsum.photos/1920/1080');
}

.cell__user-name {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: white;
  background-color: #302e2b;
  padding: 5px;
  border-radius: 5px;
}

.cell__user-muted::before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  content: '\f131';
  color: #d0402c;
  margin-right: 5px;
}
